body{
    /*background-color: skyblue;      per sfondo uniforme      */
    
    /*background: linear-gradient(to right, skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;      per sfondo sfumato    */

    background-image: url(/background/download.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1{
    background: linear-gradient(to right, skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    background: linear-gradient(to left, skyblue, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}