.container {
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    width: 70%;
    row-gap: 10px;
    column-gap: 10px;
}

.item {
    background-color: gray;
    color: white;
    border-radius: 5px;
    padding: 10px;
}