body {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

#left {
    padding-left: 5%;
    padding-right: 5%;

    width: 37.5%;
}

#right {
    text-align: center;
    border: 5px solid black;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

    padding-left: 2%;
    padding-right: 2%;

    width: 37.5%;
}

.profilo {
    border-radius: 100%;
    width: 70%;
}

.icon {
    width: 15%;
}

.x {
    float: left;
    width: 25%;
}

.descrizione {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

.contatti {
    text-align: center;
}

.contatti > p {
    margin: 0px;
    margin-bottom: 2%;
}