.container {
    display: grid;
    grid-template-columns: repeat(4, 0.1fr);
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "sidebar content content sidebar2" "footer footer footer footer";
    width: 70%;
    row-gap: 10px;
    column-gap: 10px;
}

.h {
    grid-area: header;
}

.s {
    grid-area: sidebar;
}

.c {
    grid-area: content;
}

.s2 {
    grid-area: sidebar2;
}

.f {
    grid-area: footer;
}

.item {
    background-color: gray;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.s, .c {
    background-color: darkslategrey;
}

.s2 { 
    color: black;
    background-color: lightgray;
}