.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 70%;
}

.a {
    grid-column: 2 / span 3;
}

.b {
    grid-row: 2 / span 3;
}

.c {
    grid-row: 2 / span 3;
    grid-column: 2 / span 3;
}

.d {
    grid-column: 5 / span 2;
    grid-row: 5 / span 3;
}

.item {
    border: 1px solid red;
    text-align: center;
}