#box1{
    border: 4px solid;
    width: 250px;
    height: 250px;
    font-size: 250px;
    text-align: center;
    background-color: cornflowerblue;

    transform: translateX(50px);
    transform: translateY(50px);
    transform: translate(50px, 50px);
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    transform: rotateZ(180deg);
    transform: scaleX(2);
    transform: scaleY(2);
    transform: scale(2, 2);
    transform: skewX(45deg);
    transform: skewY(45deg);
    transform: skew(20deg, 20deg);

    transform: matrix(1, 20deg, 20deg, 1, 0, 0);
    /*
    combinazioni del matrix() : 
    
    scaleX();
    skewY();
    skewX();
    scaleY();
    translateX();
    translateY();
    */
}